{%extends "base.html"%}
{% load static %}

{%block title%} | Платежные периоды{%endblock%}
{%block HomeActive%}{%endblock%}
{%block PayActive%}{%endblock%}
{%block SPRActive%} active {%endblock%}

{% block content %}        
    <div class="container">
        <div class="row pb-3">
            <div class="col"><h1>Справочник рассчетных периодов</h1></div>
        </div>
        <div class="row"></div>
        <form method="post">{% csrf_token %}
            {{ form.as_p}}

        </form>
    </div>
{% endblock %}